.homes {
  grid-column: center-start / center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 7rem;
  margin: 15rem 0;

  .home {
    background-color: $color-grey-light-1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    &__img {
      width: 100%;
      grid-column: 1 / -1;
      grid-row: 1/2;
    }

    &__like {
      height: 3.75rem;
      width: 3.75rem;
      grid-column: 2/3;
      grid-row: 1/2;
      z-index: 90;
      fill: $color-primary;
      justify-self: end;
      margin: 1rem 1rem;
    }

    &__name {
      grid-column: 1 / -1;
      font-family: $font-display;
      font-size: 1.6rem;
      text-align: center;
      padding: 1.25rem;
      background-color: $color-secondary;
      color: #fff;
      font-weight: 400;
      width: 80%;
      margin: auto;
      transform: translateY(-2.5rem);
    }

    &__button {
      grid-column: 1 / -1;
    }

    &__location,
    &__rooms,
    &__area,
    &__price {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      svg {
        fill: $color-primary;
        height: 2rem;
        width: 2rem;
        margin:  0 2rem;
      }
    }
  }
}